# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Data & cache
data/cache/
data/*.db
*.pkl
*.parquet

# ML artifacts
mlruns/
models/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
*.egg-info/
data/*.db-*
.env
